// Font Family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Color
$bg-color: #1f1f38;
$bg-color-variant: #2c2c6c;
$primary-color: #4db5ff;
$primary-color-variant: rgba(77, 181, 255, .4);
$white-color: #fff;
$light-color: rgba(255, 255, 255, .6);

// Display Size
$large-container-width: 75%;
$medium-container-width: 86%;
$small-container-width: 90%;

// Transition
$transition: all 400ms ease;