.contact_container {
    width: 58% !important;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: $bg-color-variant;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: $transition;

    &:hover {
        background: transparent;
        border-color: $primary-color-variant;
    }

    a {
        margin-top: .7rem;
        display: inline-block;
        font-size: .8rem;
    }

    h5 {
        color: $light-color;
    }
}

.contact_option_icon {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 2px solid $primary-color-variant;
    resize: none;
    color: $white-color;
}

textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 2px solid $primary-color-variant;
    resize: none;
    color: $white-color;
}

// ========== MEDIUM DEVICES ==========
@media screen and  (max-width: 1024px) {
    .contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

// ========== SMALL DEVICES ==========
@media screen and  (max-width: 600px) {
    .contact_container {
        width: $small-container-width !important;
    }
}